body {
    height: 100%; 
    background-image: url(https://scx1.b-cdn.net/csz/news/800/2018/1-whytheweathe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.container {
    font-family: 'Paytone One', sans-serif;

}

.containerTwo {
    background-color: gray;
    margin-left: 20px;   
    margin-right: 20px;
    padding-bottom: 40px;
    font-family: 'ZCOOL XiaoWei', serif;

}

#sideBar { background-color: honeydew;
    margin-left: 24px;
    
}

#weatherBox {
    background-color: lavender;
    padding: 20px;
    margin-left: 50px;
    border-right-width: 20px;
    height: 400px;
    
}

.col-sm {
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
    height: 150px;
    text-align: left;
    }

h5 {
    text-align: center;
    color: darkorchid;
}